// width-container
$max-width-container: 1129px;

// main-colors
$gray-color: #666666;
$black-color: #000000;
$blue-color: #2D9CEE;

$wrap-font-family: 'Rubik';

$font-size16: 16px;

// background back-dor
$background-body: #ffffff;