.header {
    &__info {
        padding: 19px 0;
        display: flex;
        align-items: center;
        color: $gray-color;
        font-size: $font-size16;
        
        &-container {
            display: flex;
            width: 100%;
            justify-content: space-between;

            &_left {
                display: flex;
            }
        }
    }

    // location
    &__location, &__number {
        display: flex;
        align-items: center;
    }
    &__location {
        margin-right: 29px;
        // line-height: 140%;
    }
    &__icon-location {
        margin-right: 12px;
    }

    //phone
    &__phone {
        color: $gray-color;
        margin-right: 12px;
    }
    &__phone_call {
        font-size: 12px;
    }

    hr {
        height: 1px;
        background: #EFEFF4;
    }

    // block search and Logo
    &__search {
        display: flex;
        align-items: center;

        &-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 26px 0 26px 31px;

            &-left {
                display: flex;
                align-items: center;
            }
        }
    }
    &__logo {
        margin-right: 58px;
    }

    &__input-container {
        position: relative;        
    }
    &__input_search {
        background: #F9F9F9;
        border-radius: 4px;
        width: 399px;
        height: 48px;
        padding-left: 44px;

        &::placeholder {
            color: #C8C7CC;
        }
    }
    &__icon-loop {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        left: 13px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        color: #C8C7CC;
    }

    // icons
    &__icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__icons {
        font-size: 24px;
    }
    &__icons>a:nth-child(-n+2) {
        margin-right: 20px;
    }
    &__basket {
        margin-right: 12px;
        &-container {
            display: flex;
            align-items: center;
            position: relative;
        }
        &-text {
            font-size: $font-size16;
            color: $blue-color;
        }
        &-count {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            font-size: 12px;
            background: $blue-color;
            border: 3px solid #FFFFFF;
            color: #ffffff;
            border-radius: 50%;
            line-height: 24px;

            bottom: 16px;
            left: 10px;
        }
    }

    // menu
    &__menu-container {
        display: flex;
        justify-content: space-between;
    }
    
    //menu catalog
    &__catalog {
        width: 100%;
        max-width: 264px;
        min-height: 48px;

        &-btn {
            display: flex;
            align-items: center;
            width: 100%;
            max-height: 48px;
            padding: 12px 0 12px 23px;
            background-color: $blue-color;
            border-radius: 4px;
            font-size: $font-size16;
            color: #FFFFFF;
            margin-bottom: 24px;

            .icon-burger {
                font-size: 24px;
                margin-right: 10px;
            }
        }

        &-nav {
            overflow: hidden;
            width: 100%;
            max-height: 100%;
            border: 1px solid #efeff4;
            border-radius: 6px;
            border-top: 0;
            margin-top: 15px;
            box-shadow: 0 2px 6px -4px grey;
        }
        &-ul li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 20px 22.34px 20px 24.37px ;
            border: 1px solid #EFEFF4;
            max-height: 49px;

            a {
                color: $gray-color;
                width: 100%;
                height: 100%;
            }
            span {
                color: #EFEFF4;
                transform: rotate(90deg);
            }
            .icon-arrow-up {
                font-size: 24px;
            }
        }
    }
}