@font-face {
	font-family: 'Lato-Light';
	src: url('fonts/Lato-Light.eot');
	src: local('☺'), url('fonts/Lato-Light.woff') format('woff'), url('fonts/Lato-Light.ttf') format('truetype'), url('fonts/Lato-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Black';
	src: url('../fonts/Lato-Black.eot');
	src: local('☺'), url('../fonts/Lato-Black.woff') format('woff'), url('../fonts/Lato-Black.ttf') format('truetype'), url('../fonts/Lato-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-BlackItalic';
	src: url('fonts/Lato-BlackItalic.eot');
	src: local('☺'), url('fonts/Lato-BlackItalic.woff') format('woff'), url('fonts/Lato-BlackItalic.ttf') format('truetype'), url('fonts/Lato-BlackItalic.svg') format('svg');
	font-weight: 900;
	font-style: Italic;
}

@font-face {
	font-family: 'Lato-Bold';
	src: url('../fonts/Lato-Bold.eot');
	src: local('☺'), url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf') format('truetype'), url('../fonts/Lato-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-BoldItalic';
	src: url('../fonts/Lato-BoldItalic.eot');
	src: local('☺'), url('../fonts/Lato-BoldItalic.woff') format('woff'), url('../fonts/Lato-BoldItalic.ttf') format('truetype'), url('../fonts/Lato-BoldItalic.svg') format('svg');
	font-weight: 700;
	font-style: Italic;
}
@font-face {
	font-family: 'Lato-Italic';
	src: url('../fonts/Italic.eot');
	src: local('☺'), url('../fonts/Lato-Italic.woff') format('woff'), url('../fonts/Lato-Italic.ttf') format('truetype'), url('../fonts/Lato-Italic.svg') format('svg');
	font-weight: 400;
	font-style: Italic;
}
@font-face {
	font-family: 'Light';
	src: url('../fonts/Light.eot');
	src: local('☺'), url('../fonts/Light.woff') format('woff'), url('../fonts/Light.ttf') format('truetype'), url('../fonts/Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'LightItalic';
	src: url('../fonts/LightItalic.eot');
	src: local('☺'), url('../fonts/LightItalic.woff') format('woff'), url('../fonts/LightItalic.ttf') format('truetype'), url('../fonts/LightItalic.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Regular';
	src: url('../fonts/Regular.eot');
	src: local('☺'), url('../fonts/Regular.woff') format('woff'), url('../fonts/Regular.ttf') format('truetype'), url('../fonts/Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Thin';
	src: url('../fonts/Thin.eot');
	src: local('☺'), url('../fonts/Thin.woff') format('woff'), url('../fonts/Thin.ttf') format('truetype'), url('../fonts/Thin.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'ThinItalic';
	src: url('../fonts/Thin.eot');
	src: local('☺'), url('../fonts/ThinItalic.woff') format('woff'), url('../fonts/ThinItalic.ttf') format('truetype'), url('../fonts/ThinItalic.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}