@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?3j0768');
  src:  url('../fonts/icons.eot?3j0768#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?3j0768') format('truetype'),
    url('../fonts/icons.woff?3j0768') format('woff'),
    url('../fonts/icons.svg?3j0768#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user .path1:before {
  content: "\e904";
  color: rgb(226, 226, 226);
}
.icon-user .path2:before {
  content: "\e907";
  margin-left: -0.9599609375em;
  color: rgb(138, 138, 143);
}
.icon-user .path3:before {
  content: "\e90a";
  margin-left: -0.9599609375em;
  color: rgb(138, 138, 143);
}
.icon-comprasion:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90b";
}
.icon-burger:before {
  content: "\e90c";
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-arrow-up:before {
  content: "\e901";
}
.icon-basket:before {
  content: "\e902";
}
.icon-cardio:before {
  content: "\e903";
}
.icon-location-arraw:before {
  content: "\e905";
}
.icon-procent:before {
  content: "\e906";
}
.icon-star:before {
  content: "\1f374";
}
.icon-tovars:before {
  content: "\e908";
}
.icon-trash-can:before {
  content: "\e909";
}
