@font-face {
  font-family: 'icons';
  src:  url('../icon-fonts/icons.eot?3j0768');
  src:  url('../icon-fonts/icons.eot?3j0768#iefix') format('embedded-opentype'),
    url('../icon-fonts/icons.ttf?3j0768') format('truetype'),
    url('../icon-fonts/icons.woff?3j0768') format('woff'),
    url('../icon-fonts/icons.svg?3j0768#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change ../icon-fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e900";
  color: #2d9cee;
}
.icon-arrow-up:before {
  content: "\e901";
  color: #2d9cee;
}
.icon-basket:before {
  content: "\e902";
  color: #2d9cee;
}
.icon-cardio:before {
  content: "\e903";
  color: #2d9cee;
}
.icon-comparison:before {
  content: "\e904";
}
.icon-location-arraw:before {
  content: "\e905";
  color: #666;
}
.icon-procent:before {
  content: "\e906";
  color: #2d9cee;
}
.icon-star:before {
  content: "\e907";
  color: #2d9cee;
}
.icon-tovars:before {
  content: "\e908";
  color: #2d9cee;
}
.icon-trash-can:before {
  content: "\e909";
  color: #c8c7cc;
}
.icon-user .path1:before {
  content: "\e90a";
  color: rgb(226, 226, 226);
}
.icon-user .path2:before {
  content: "\e90b";
  margin-left: -0.9599609375em;
  color: rgb(138, 138, 143);
}
.icon-user .path3:before {
  content: "\e90c";
  margin-left: -0.9599609375em;
  color: rgb(138, 138, 143);
}
