@mixin font($font_name, $file_name, $weight, $style) {
    font-family: $font_name;
    font-display: swap;
    src: url("fonts/#{$file_name}.woff") forma("woff"), url("fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
}

// base

@import 'reset';
@import 'fonts';
@import 'base/animations';
@import 'base/media';
@import 'base/mixins';
@import 'base/variables';
@import 'icon_fonts';

// blocks